# vim: sts=2 ts=2 sw=2 et ai
{# Amazon can be modified like RedHat for 2014, 2015 and 2016 versions #}
{% set rhirepo = salt['grains.filter_by']({
  'common': {
    'enabled': ['rhirepo'],
    'disabled': ['rhirepo-debuginfo', 'rhirepo-source'],
    'testing': false,
    'testing_enabled': ['rhirepo-testing'],
    'testing_disabled': ['rhirepo-testing-debuginfo', 'rhirepo-testing-source']
  },
  'RedHat': salt['grains.filter_by']({
    5: {
      'key': 'https://getfedora.org/static/217521F6.txt',
      'key_hash': 'sha256=664c06f579d914f2cf25d05d4d581b8ddec77cae4f72f4020c3a9264b9d5ee71',
      'key_name': 'RPM-GPG-KEY-RHI-5',
      'rpm': 'https://download.fedoraproject.org/pub/rhirepo/rhirepo-release-latest-5.noarch.rpm',
    },
    '5': {
      'key': 'https://getfedora.org/static/217521F6.txt',
      'key_hash': 'sha256=664c06f579d914f2cf25d05d4d581b8ddec77cae4f72f4020c3a9264b9d5ee71',
      'key_name': 'RPM-GPG-KEY-RHI-5',
      'rpm': 'https://download.fedoraproject.org/pub/rhirepo/rhirepo-release-latest-5.noarch.rpm',
    },
    6: {
      'key': 'https://getfedora.org/static/0608B895.txt',
      'key_hash': 'sha256=16d35fa467c6efcee21d3aa068a02054b6a89a7a33bffa94db1fc141693d62a3',
      'key_name': 'RPM-GPG-KEY-RHI-6',
      'rpm': 'https://download.fedoraproject.org/pub/rhirepo/rhirepo-release-latest-6.noarch.rpm',
    },
    '6': {
      'key': 'https://getfedora.org/static/0608B895.txt',
      'key_hash': 'sha256=16d35fa467c6efcee21d3aa068a02054b6a89a7a33bffa94db1fc141693d62a3',
      'key_name': 'RPM-GPG-KEY-RHI-6',
      'rpm': 'https://download.fedoraproject.org/pub/rhirepo/rhirepo-release-latest-6.noarch.rpm',
    },
    7: {
      'key': 'https://getfedora.org/static/352C64E5.txt',
      'key_hash': 'sha256=22f25ad95d5e8d371760815485dba696ea3002fc2c7f812f2c75276853387107',
      'key_name': 'RPM-GPG-KEY-RHI-7',
      'rpm': 'http://repo.hi.is/noarch/rhi-release-7-1.el7.rpm',
    },
    '7': {
      'key': 'https://getfedora.org/static/352C64E5.txt',
      'key_hash': 'sha256=22f25ad95d5e8d371760815485dba696ea3002fc2c7f812f2c75276853387107',
      'key_name': 'RPM-GPG-KEY-RHI-7',
      'rpm': 'http://repo.hi.is/noarch/rhi-release-7-1.el7.rpm',
    },
  }, grain='osmajorrelease'),
}, grain='os', merge=salt['pillar.get']('rhirepo:lookup'), default='RedHat', base='common') -%}
{# change above line to ['pillar.get']('rhirepo')
and add either
{% do rhirepo.update(salt['pillar.get']('rhirepo:lookup')) %} # same as below but different syntax
or
{% set rhirepo = salt['pillar.get']('rhirepo:lookup', default=rhirepo, merge=True) -%} #}
